body {
  min-height:100vh;
  min-width: 100vw;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color:#8f0222;
  font-style: italic;
}

p {
  margin: 0;
  padding: 0;
}


h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

button:focus {
  outline:0;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

.App {
  min-height:100%;
  min-width:100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Oswald', sans-serif;
}

/* LOGIN PAGE STYLE */

.authPage {
  height: 100vh;
  margin: 0;
  background-image: url('./images/_login_topo_white_topo.jpg');
  background-size: cover; 

}
.loginHeader {
  background: black;
  color: white;
  font-size: 40px;
  margin-top: -60px;
  box-flex: flex;
  height: 20vh;
  letter-spacing: .3em;
}

.loginBar {
  background: -webkit-linear-gradient(left, #a90329 0%,#8f0222 44%,#6d0019 100%);
  height: 5vh;
  margin-top: -35px;
  text-align: left;
}

.loginLogo {
  text-align: left;
  padding-left: 100px;
  padding-right: auto;
  padding-top: 20px;
}

.logo img {
  height: 150px;
}

.loginContent {
  margin-top: 100px;
}

.loginType h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 50px;
}

.loginSubmit {
  font-family: 'Oswald', sans-serif;
  background-color: #8f0222;
  border-radius: 0px;
  font-size: 20px;
  color: white;
  border-style: none;
  width: 39.6vh;
  margin-top: 3px;
  height: 40px;

}

.formInput {
  font-family: 'Oswald', sans-serif;
  border-color: #8f0222;
  padding: 5px 10px;
  margin: 5px;
  width: 37vh;
  font-size: 20px;
}

.registerButton {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(255, 255, 255, 0);
  color: #8f0222;
  font-size: 18px;
  border-style: none;
  margin-top: -30px;
  margin-bottom: 20px;
}

/* MAIN PAGE STYLE */

.welcomeText {
  padding-left: 103px;
  font-size: 20px;
  color: white;
  padding-top: 7px;
}
.mainHeader {
  background: white;
  color: black;
  font-size: 40px;
  margin-top: -60px;
  height: 25vh;
}

.mainLogo img{
  height: 60px;
  padding-top: 88px;
  padding-left: 65%;
}

.mainLogo {
  display: flex;
  flex: wrap;
  padding-left: 100px;
  padding-right: auto;
  padding-top: 20px;
}

/* .loginLogo {
  display: inline-block;
} */

.mainHeader h1 {
  letter-spacing: .25em;
}
.mainPage {
  padding-bottom: 70px;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url('./images/_blackT.png');
  background-size: cover; 
}

.mainInfo {
  width: 100%;
  padding-top: 50px;
}

.whatIsThisDiv {
  display: flex;
  flex-direction: row;

}

.userInput {
  text-align: left;
  margin-left: 15px;
}

.weather {
  text-align: left;
  color: white;
  background-color: rgb(152, 209, 255);
  width: 39.5vh;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px 0;
}

.weather div {
  text-align: center;
}

.weather div h2 {
  border-bottom: solid white;
  padding-bottom: 3px;
  margin-bottom: 3px;
  color: rgb(39, 71, 133);
}

.findTrails {
  margin-left: 5px;
}

.trailInfo {
  margin-top: 2px;
  margin-left: 3vw;
}

.trailInfo h2 {
  color: white;
  font-size: 32px;
  padding-bottom: 10px;
  float: left;
  padding-left: 9px;
}

.eachTrail {
  background-color: white;
  margin: 10px;
  border-style: solid black;
  width: 170px;
  height: 180px;
}

.eachTrail h4 {
  text-align: left;
  color: #8f0222;
  margin-left: 10px; 
  margin-right: 10px;
  margin-top: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.eachTrail p {
  text-align: left;
  color: black;
  margin-left: 10px; 
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.mainTrailInfo {
  padding-bottom: 3px;
  border-bottom: solid black 1px;
  margin: 0 10px
}

.mainTrailInfo p {
  margin-left: 0;
  font-size: 15px;
  font-style: italic;
}


.trailList {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.breweries{
  height: 100px;
  overflow-y: scroll;
  width: 39.5vh;
  background-color: white;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px 0;
}

.breweries div h2 {
  color: #8f0222;
  border-bottom: solid black;
  padding-bottom: 3px;
  margin-bottom: 4px;
}


.userInfo {
 display: flex;
 background-color: black;
 border: solid white 1px;
 width: 355px;
 margin-left: 19px;
 margin-top: 10px;
 color: white;
 justify-content: center;
}

.allUserInfo {
  padding: 10px 10px;

}

.userButtons button{
  background-color: #a90329;
  margin: 5px 0 0 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-style: none;
  margin: 0 3px;
  width: 91px;
}

.heart {
  background-color: #a90329;
  display: inline-block;
  height: 10px;
  margin: 0 7px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #a90329;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -6px;
  left: 0;
}

.heart:after {
  left: 6px;
  top: 0;
}


/* .allUserInfo p {
  display: inline;
} */

.formInput.select {
  appearance: none;
  font-family: 'Oswald', sans-serif;
  border-color: #8f0222;
  color: #8f0222;
  padding: 5px 10px;
  margin: 5px;
  width: 39.7vh;
  font-size: 20px;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
  linear-gradient(135deg, white 50%, transparent 50%),
  radial-gradient(#8f0222 70%, transparent 72%);
  background-position:
    calc(100% - 21px) calc(1em + 0px),
    calc(100% - 16px) calc(1em + 0px),
    calc(100% - .4em) .4em;
  background-size:
    5px 5px,
    5px 5px,
    1.3em 1.3em;
  background-repeat: no-repeat;
}

.editInfo input {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.editInfo button {
  background-color: #a90329;
  margin: 5px 0 0 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-style: none;
  margin: 0 3px;
  width: 100px;
  height: 23px;
}

.loginSubmit:hover {
  background-color: #6d0019
}

@media (max-width: 800px){
  .loginLogo{
    text-align: center;
    padding-left: 0px;
    padding-top: 15px;
  }
  .loginHeader {
    height: 22vh;
    letter-spacing: .2em;
  }
  .logo img {
    height: 100px;
  }
  .loginBar {
    margin-top: -40px
  }

  .loginType h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
  }
  .loginContent {
    margin-top: 80px;
  }
  .loginSubmit {
    width: 40.5vh;
  }
  .mainLogo {
    display: flex;
    flex: wrap;
    padding-left: 20px;
    padding-right: auto;
    padding-top: 20px;
    margin-top: 30px;
  }

  .mainLogo h1 {
    font-size: 50px;
    padding-bottom: 60px;
    margin-bottom: 0;
    padding-left: 10px;
  }

  .mainLogo img {
    padding-left: 30px;
    padding-top: 55px;
    height: 40px;
  }

  .welcomeText {
    padding-left: 85px;
    font-size: 20px;
    padding-top: 2px;
  }
  .whatIsThisDiv {
    flex-direction: column;
    background-image: url('./images/_blackT.png');
    background-size: contain;
  }
  .userInput {
    text-align: center;
    margin-left: 0;
  }
  
  .mainPage {
   background-color: black;
  }
  .userInfo {
    display: flex;
    width: 71vw;
    margin-top: 10px;
    margin-left: 55px;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
   }

   .userInfo p {
     color: black;
   }

   .weather {
    text-align: center;
    color: white;
    background-color: rgb(152, 209, 255);
    width: 39.8vh;
    margin-left: 55px;
    margin-top: 10px;
    padding: 10px 0;
  }

    .weather h2 {
      font-size: 18px;
    }

    .breweries{
      height: 150px;
      overflow-y: scroll;
      width: 39.8vh;
      background-color: white;
      margin-left: 55px;
      margin-top: 10px;
      padding: 10px 0;
    }
    
    .trailInfo h2 {
      padding-left: 0px;
    }
    .trailInfo {
      margin-left: 0px;
      margin-top: 20px;
      border-top: solid #a90329 2px;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .trailList {
      margin-right: 0px;
      width: 85vw;
    }
    .eachTrail {
      background-color: white;
      margin: 10px 0 10px 60px;
      border-style: solid black;
      width: 500px;
      height: 180px;
    }
}







